# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Dependendes
*.d

# Coverage
*.gcda
*.gcno

# mklove
Makefile.config
config.cache
config.h
config.log
config.log.old
version.c

# Tests
/tests/*.test
/tests/*.xml
/tests/coverage.info
/tests/out

# Binary
n2kafka
